# ======================
# Node modules (ทั้ง client และ server)
# ======================
node_modules/
client/node_modules/
server/node_modules/

# ======================
# Environment variables (สำคัญมาก)
# ======================
.env
server/.env
client/.env

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
*.log

# ======================
# Build folders
# ======================
build/
dist/
client/build/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/